.featured-product {
    width: 95%;
    padding: 20px;
    .product-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: -10px;
        margin-left: -10px;        
        .product {
            width: calc(15% - 10px);
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
.margin {
    float: right;
}

a {
    color: black;
    text-decoration: none;
}

#filter > .mat-form-field {
    width: 100%;
}
