<div class="featured-product">
<div id="filter">
  <mat-form-field>  
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)">  
  </mat-form-field>
</div>
  <div class="product-container">  
    <mat-card class="product" *ngFor="let product of products; let i = index">
      <mat-card-content>
        <h2>
          <a mat-list-item routerLink="/detailProduct/{{product.id}}/{{product.name}}/{{product.description}}/{{product.price}}/{{product.stock}}/{{product.available}}/{{product.type}}" routerLinkActive="active"><mat-label>{{product.name}}</mat-label></a>
        </h2>
        <p>  
          <mat-label>{{product.price}}</mat-label>  
        </p>
        <p>  
          <mat-label>{{product.available?'Disponible':'No disponible'}}</mat-label>  
        </p>
        <p>  
          <mat-label>Quedan {{product.stock}} en stock</mat-label>  
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>