<mat-card>
  <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
    Lista de productos
  </mat-toolbar>
  <div class="buttonProduct">
    <button mat-raised-button (click)="openDialog()">Nuevo Producto</button>
  </div>
  <div class="mat-elevation-z8">
  <mat-spinner *ngIf="!products"></mat-spinner>
   <app-grouped-product *ngIf="products" [products]="products"></app-grouped-product>
  </div>
</mat-card>
