.buttonProduct {
    text-align: right;
    padding: 2%;
}

.product-table {
    width: 100%;
}

.featured-product {
    width: 100%;
    padding: 20px;
    .product-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: -10px;
        margin-left: -10px;        
        .product {
            width: calc(15% - 10px);
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.margin {
    float: right;
}

.mat-progress-spinner {
    margin-left: 40%;
}
