
  <mat-sidenav-container class="container" fxLayout="row wrap" fullscreen>
    <mat-sidenav #sidenav mode="side" opened="false" fxFlex="260px" class="mat-elevation-z3">
      <mat-nav-list>      
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon>view_stream</mat-icon>Productos
        </a>
      </mat-nav-list>
    </mat-sidenav>  
    <div class="main-content" fxFlex>     
      <div class="content-body" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">       
        <div fxFlex>    
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-container>