
<mat-card>
  <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
    Editar Producto
  </mat-toolbar>
    <form class="example-container" [formGroup]="productForm">
    <div class="container">
        <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" autocomplete="off">
        <mat-error *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <mat-error *ngIf="f.name.errors.required">Required</mat-error>
        </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Descripcción</mat-label>
        <input matInput formControlName="description" autocomplete="off">
        <mat-error *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <mat-error *ngIf="f.description.errors.required">Required</mat-error>
        </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Tipo</mat-label>
        <input matInput formControlName="type" autocomplete="off">
        <mat-error *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <mat-error *ngIf="f.type.errors.required">Required</mat-error>
        </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Stock</mat-label>          
            <input matInput formControlName="stock" autocomplete="off" type="number" step="0.01">
            <mat-error *ngIf="submitted && f.stock.errors" class="invalid-feedback">
                <mat-error *ngIf="f.stock.errors.required">Required</mat-error>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Precio</mat-label>          
            <input matInput formControlName="price" autocomplete="off" type="number" step="0.01">
            <mat-error *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <mat-error *ngIf="f.price.errors.required">Required</mat-error>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="available">Disponible</mat-checkbox>
        <br>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
    </div>
    </form>
</mat-card>